
    body {
      background-color: #caced3;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      padding-top: 80px;
      
    }

    header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030; 
      }
  
   
    .navbar-custom {
      background: linear-gradient(90deg, #9dbae6, #20c997);
    }

    .navbar-custom .nav-link {
       color: #075666;
      transition: color 0.3s ease;
      font-size: 20px;
     
    }
    .navbar-brand{
      
      font-size:30px;
      font-family: 'Times New Roman', Times, serif; 
      font-weight: bold;
      font-style: italic;
      color: #075666;
      
    }
    .navbar-custom .nav-link:hover {
      color: #ffc107 ;
      background-color: #cff4de;
    }
    .navbar-custom {
      padding: 20px 0px;
    }

     footer {
      margin-top: auto;
      background: linear-gradient(90deg, #9dbae6, #20c997);
      color: #010912;
      padding: 20px 0;
    }
    footer a {
       color: #010912;
      text-decoration: none;
      margin-left: 15px;
      transition: color 0.3s ease;
    }
    footer a:hover {
      color: #ffc107;
      text-decoration: underline;
    }